.banner {
    width: 100%;
    height: 200px;
    background: url(background.jpg) center no-repeat;
    background-size: cover;
}
.search-type input {
    height: 27px !important;
}
.search-type, .keyword, .sort-by {
    padding-bottom: 10px;
}
.product {
    padding-bottom: 20px;
}
.product h5{
    height: 35px;
}
.list .product img {
    width: 250px;
    height: 100px;
}
.list .product button {
    width: 100%;
    padding: 10px 0;
}
.error h1 {
    margin: 30px 0;
}